$primary-color: #444;

* {
    box-sizing: border-box;
}

body{
    background: $primary-color;
    margin: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

nav{
    display: flex;
}

.nav-link{
    text-decoration: none;
    color: #fff;
}