$primary-color: #ffffff;
$secondary-color: #023436;
$auxiliar-color: #70a9a1;


* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background: #e4e4e4;

    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.container{
    width: 90%;
    margin: auto;
}

nav{

    display: flex;
    background: $secondary-color;

    .menu-item{
        display: flex;
    }

    a{
        color: #fff;
        display: block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        text-align: center;
    }

    a:hover{
        background: #0d5d56;
    }

    .menu-btn-icon{
        display: none;
    }
}

#showcase{
    position: absolute;
    width: 100%;

    .container{
        display: grid;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
        grid-template-areas: 'title submit';

        .title{
            grid-area: title;
            font-size: 1.5rem;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
        }

        .login{
            background: #fff;
            grid-area: submit;
            display: flex;
            flex-direction: column;
            padding: 20px 50px 40px 50px;
            -webkit-box-shadow: 11px 10px 41px -3px rgba(0,0,0,0.3);
            -moz-box-shadow: 11px 10px 41px -3px rgba(0,0,0,0.3);
            box-shadow: 11px 10px 41px -3px rgba(0,0,0,0.3);
            border-radius: 5px;

            h1{
                border-bottom: solid 2px #ccc;
                margin: 0;
                padding: 0;
            }

            .login-row{
                display: flex;
                align-items: center;

                i{
                    padding-right: 5px;
                }

                input{
                    margin-left: auto;
                }
            }

            .text-input{
                padding: 5px 80px 5px 5px;
                margin-top: 10px;
                border: 1px solid #ccc;
                border-radius: 2px;
            }

            .button-1{
                margin-top: 10px;
                padding: 6px;
                border: none;
                width: 80px;
                background: #4CAF50;
                border-radius: 2px;
            }
        }
    }
}

#background{
    /*background: url(../img/base.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 1500px;*/
    img{
        min-width: 100%;
        min-height: 70vh;
    }
}

footer{
    min-height: 22vh;
    text-align: center;

    .container{
        border-top: solid 2px rgb(160, 160, 160);

        h3{
            padding: 10px;
        }
    }
}

@media screen and (min-width: 600px){
    .active{
        background: $auxiliar-color;
    }
}

@media screen and (max-width: 600px) {

    .menu-nav-normal{

        .menu-item a:not(:first-child){
            display:none;
        }
        a.menu-btn-icon{
            display: block;
            margin-left: auto;
            float: right;
        }
    }
}

@media screen and (max-width: 600px) {

    .menu-nav-normal.menu-nav-responsive{
        position: relative;
        display: block;
        overflow: hidden;

        a.menu-btn-icon{
            position: absolute;
            right: 0;
            top: 0;
        }

        .menu-item{
            display: block;
        }

        .menu-item a{
            float: none;
            display: block;
            text-align: left;
        }
    }

}

